RATE_LIMIT_MODE=off
RATE_LIMIT_KEY_PREFIX=vnibb:rate-limit
RATE_LIMIT_KEY_VERSION=v1
RATE_LIMIT_WINDOW_SECONDS=60
SCHEDULER_ROLE=api
SCHEDULER_LOCK_ENABLED=true
SCHEDULER_LOCK_MODE=best_effort
SCHEDULER_LOCK_KEY_PREFIX=vnibb:scheduler-lock
SCHEDULER_LOCK_TTL_MARGIN_SECONDS=60
